body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #000;
  color: #fff;
  direction: rtl;
}

header, nav, footer {
  padding: 10px;
  text-align: center;
  background-color: #111;
}

nav button {
  margin: 5px;
  padding: 10px 15px;
  background-color: #222;
  color: white;
  border: none;
  cursor: pointer;
}

nav button:hover {
  background-color: #333;
}

#content .screen {
  display: none;
  padding: 20px;
}

#content .active {
  display: block;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 1em;
}
form {
  margin-top: 15px;
  line-height: 2;
}

input, select {
  padding: 5px;
  margin: 5px;
  width: 200px;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 80px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.7);
}

.modal-content {
  background-color: #222;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  color: #fff;
  border-radius: 10px;
  position: relative;
}

.close {
  color: #aaa;
  position: absolute;
  top: 10px;
  left: 15px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: #fff;
}
#config form {
  margin-top: 20px;
  line-height: 2;
}

#config select, 
#config input[type="number"],
#config input[type="color"] {
  padding: 5px;
  margin: 5px;
}
#game {
  background-color: black; 
  text-align: center;
}

#gameCanvas {
  background: url('gamepic.png') no-repeat center center;
  background-size: 100% 100%; 
  width: 900px;
  height: 600px;
  display: block;
  margin: 20px auto;
  border: 2px solid white;
  background-color: transparent;
}
#game button#newGameBtn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

